$primary-light-blue-bg: rgba(57, 205, 204, 1);
$primary-light-blue-text: rgba(57, 205, 204, 1);
$primary-light-blue-border: rgba(57, 205, 204, 1);
$primary-light-blue-hover-bg: rgb(23, 119, 119);

$primary-dark-blue-text: rgba(33, 63, 125, 1);
$primary-dark-blue-border: rgba(33, 63, 125, 1);
$primary-dark-blue-bg: rgba(33, 63, 125, 1);

$secondary-dark-blue-border: rgba(33, 63, 125, 0.06);

$primary-gray-text: rgba(84, 95, 125, 1);

$primary-red-text: rgba(228, 3, 59, 1);
$primary-red-border: rgba(228, 3, 59, 1);

$off_white_bg: #FBFBFB;